
    <p id="notice"> <%= notice %> </p> <!--フラッシュメッセージの表示-->
    
    <section class="about">
        <h2>Inutter</h2>
        <p>
            このアプリはrailsの練習用に作成されました<br>
            犬のデザインが特徴的なTwitter風アプリです！
        </p>
    </section>
    
    <section class="content">
        <div>
        
        </div>
    </section>
    
    <!--<div id="page-top-btn" class="page-top-btn">-->
    <!--    <p><a class="move-page-top" id="move-page-top">▲</a></p>-->
    <!--</div>-->


　　